- content_for :javascript do
  initialize_update_profile_info_form("#{I18n.locale}","#{target_user.id.to_s}", #{@current_community.real_name_required?});

- content_for :extra_javascript do
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "?key=#{maps_key}" : ""
  - needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) || search_mode == :keyword
  = javascript_include_tag "//maps.googleapis.com/maps/api/js#{key_param}" if needs_maps

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(target_user, @current_community) }

#person_settings_form.left-navi-section.settings-section
  %p
    = t("settings.profile.these_fields_are_shown_in_your")
    = link_to(t("settings.profile.profile_page"), target_user) + "."

  = form_for target_user do |form|
    = form.label :given_name, t("settings.profile.given_name")
    = form.text_field :given_name, :class => "text_field", :maxlength => "30"
    .inline-label-container
      = form.label :family_name, t("settings.profile.family_name"), :class => "inline"
      %small
        - if ["first_name_with_initial", "first_name_only"].include? @current_community.name_display_type
          = t("settings.profile.#{@current_community.name_display_type}")
    = form.text_field :family_name, :class => "text_field", :maxlength => "30"

    -# Display name
    .inline-label-container
      = form.label :display_name, t("settings.profile.display_name"), class: "inline"
    %span.alert-box-icon
      = icon_tag("information", ["icon-fix"])
    %small
      = t("settings.profile.display_name_description")
    = form.text_field :display_name, class: "text_field", :maxlength => "30"

    -# Location
    .inline-label-container
      = form.label :street_address, t("settings.profile.street_address"), :class => "inline"
      %small
        = t('settings.profile.default_in_listing')
    %span.alert-box-icon
      = icon_tag("information", ["icon-fix"])
    %small
      = t("settings.profile.location_description")
    = form.text_field :street_address, :class => "text_field", :onkeyup => "timed_input(this)"
    #settings_map_canvas.map
      - content_for :extra_javascript do
        :javascript
          source = document.getElementById("person_street_address");
          $(document).ready(function(){
            googlemapMarkerInit("settings_map_canvas","person_location","person_street_address", true, #{tribe_latitude}, #{tribe_longitude});
            });

    -# Phone number 1
    .inline-label-container
      = form.label :phone_number1, t("settings.profile.phone_number1"), :class => "inline"
      %small
        = t('settings.profile.invisible')
    = form.text_field :phone_number1, :class => "text_field", :maxlength => "25"

    -# Phone number 2
    .inline-label-container
      = form.label :phone_number2, t("settings.profile.phone_number2"), :class => "inline"
      %small
        = t('settings.profile.invisible')
    = form.text_field :phone_number2, :class => "text_field", :maxlength => "25"

    - if target_user[:person_type] == 'parent'

      -# Number of children
      .inline-label-container
        = form.label :children_number, t("settings.profile.children_number"), :class => "inline"
      = form.text_field :children_number, :class => "text_field", :maxlength => "25"

      -# Gender of Children
      .inline-label-container
        = form.label :children_gender, t("settings.profile.children_gender"), :class => "inline"
      = form.text_field :children_gender, :class => "text_field", :maxlength => "25"

      -# Ages of children
      .inline-label-container
        = form.label :children_age, t("settings.profile.children_age"), :class => "inline"
      = form.text_field :children_age, :class => "text_field", :maxlength => "25"
    
      -# Any special needs children
      .inline-label-container
        = form.label :children_need, t("settings.profile.special_needs_children"), :class => "inline"
      = form.text_field :children_need, :class => "text_field", :maxlength => "25"

    - elsif target_user[:person_type] == 'teacher'
      -# Grade Level Experience
      .inline-label-container
        = form.label :grade_level, t("settings.profile.grade_level"), :class => "inline"
      = form.text_field :grade_level, :class => "text_field", :maxlength => "25"

      -# Subject Matter Experience
      .inline-label-container
        = form.label :subject_matter, t("settings.profile.subject_matter"), :class => "inline"
      = form.text_field :subject_matter, :class => "text_field", :maxlength => "25"

      = form.label :certificate_image, t("settings.profile.certificate_picture")
      = form.file_field :certificate_image, :size => 30, :id => "avatar_file"

      .people-image.certificate_image
        = huge_certificate_thumb(target_user)

      .inline-label-container
        = form.label :certificate_issue, t("settings.profile.certificate_issue"), :class => "inline"
      .date_select_container
      = form.date_select :certificate_issue, :include_blank => true, :class => "inline"

      .inline-label-container
        = form.label :certificate_expiration, t("settings.profile.certificate_expiration"), :class => "inline"
      = form.date_select :certificate_expiration, :include_blank => true, :class => "inline"

      -# Degrees obtained in College 
      .inline-label-container
        = form.label :university_degree, t("settings.profile.university_degree"), :class => "inline"
      = form.text_field :university_degree, :class => "text_field", :maxlength => "25"

      -# University names
      .inline-label-container
        = form.label :university_name, t("settings.profile.university_name"), :class => "inline"
      = form.text_field :university_name, :class => "text_field", :maxlength => "25"

      -# Arrest
      .inline-label-container
        = form.label :arrest, t("settings.profile.arrest"), :class => "inline"
        %small
          = t('settings.profile.invisible')
      = form.text_field :arrest, :class => "text_field", :maxlength => "25"

      -# Convicted of a felony
      .inline-label-container
        = form.label :convicted_felony, t("settings.profile.convicted_felony"), :class => "inline"
        %small
          = t('settings.profile.invisible')
      = form.text_field :convicted_felony, :class => "text_field", :maxlength => "25"

      -# FaceTime or Skype with parents?
      .inline-label-container
        = form.label :parent_contact_type, t("settings.profile.parent_contact_type"), :class => "inline"
      = form.text_field :parent_contact_type, :class => "text_field", :maxlength => "25"

    -# Profile picture
    = form.label :image, t("settings.profile.profile_picture")
    = form.file_field :image, :size => 30, :id => "avatar_file"

    -# About text
    = form.label :description, t("settings.profile.about_you"), :class => "input"
    = form.text_area :description, :class => "update_profile_description_text_area"
    = form.fields_for :location do |loc|
      = loc.hidden_field :address, :value => target_user.location.address
      = loc.hidden_field :google_address, :value => target_user.location.google_address
      = loc.hidden_field :latitude, :value => target_user.location.latitude
      = loc.hidden_field :longitude, :value => target_user.location.longitude
    = form.button t("settings.save_information"), :class => "send_button"
